.button {
  background-color: chartreuse;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 50%;
  font-size: 16px;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.add-task-button-container {
  text-align: center;
}
